<section>
  <header class="page-header">
    <h1>Login</h1>
  </header>

  <%= form_tag '/login' do %>
    <div class="form-group mb-3 w-25" data-test-id="login_email">
      <label>Email Address</label>
      <%= email_field_tag :email, "", class: "form-control" %>
    </div>
    <div class="form-group mb-3 w-25" data-test-id="login_password">
      <label>Password</label>
      <%= password_field_tag :password, "", class: "form-control" %>
    </div>

    <br>
    <%= submit_tag "Submit", class: "btn btn-success m-10" %>


  <% end %>
</section>