<article>
  <div>
    <% if product.quantity === 0 %>
      <button class="btn bg-danger">Sold Out</button>
      <button class="btn faded"><%= fa_icon "shopping-cart", text: 'Add' %></button>
    <% else %>
      <%= button_to add_item_cart_path(product_id: product.id), class: 'btn' ,
      method: :post do %>
        <%= fa_icon "shopping-cart", text: 'Add' %> 
      <% end %>
    <% end %>
  </div>
</article>
